<div>Title</div>
<input type="text" id="post-title-{{post.id}}" class="post-title" value="{{post.title}}">
<div>Content</div>
<textarea type="text" id="post-content-{{post.id}}" class="post-content">{{post.content}}</textarea>