<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
</head>

<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            {{#if logged_in}}
            <a id="logout-btn" href="">Logout</a>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
        </nav>
        <div class="nav-title" href="">THE TECH BLOG</div>
    </header>

    <main>
        {{{ body }}}
    </main>
    
    {{#if logged_in}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>